*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p{
    max-width: 100%;
}

:root{
    /*Color variables */
    --white : hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body{
    background-color: var(--light-gray);
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem;
    line-height: 1.5;
}

.container{
    background-color: var(--white);
    max-width: 20%;
    margin: auto;
    /* padding: 55px; */
    padding: 35px;
    height: 100%;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 40px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image > img{
    display: block;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}

.bold{
    font-weight: 700;
}

.light{
    font-weight: 400;
}


.attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a { 
    color: var(--grayish-blue); 
}


/* Media Queries */

@media (max-width: 767px) {
    .container {
      max-width: 90%;
      padding: 20px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  
  /* For screens between 768px and 1024px */
  @media (min-width: 768px) and (max-width: 1024px) {
    .container {
      max-width: 40%;
      padding: 30px;
      margin-top: 60px;
      margin-bottom: 30px;
    }
  }
  
  /* For screens larger than 1024px */
  @media (min-width: 1025px) {
    .container {
      max-width: 25%;
      padding: 40px;
      margin-top: 100px;
    }
  }

